* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-color: burlywood;
    margin: 0;
}

/* Header & Navigation */
nav {
    padding: 20px; 
    background-color: aquamarine;
    border-bottom: 10px solid #e1e437;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
}

nav section {
    margin-right: 20px;
    float: right;
    font-size: 20px;
}

nav section ul li {
    display: inline-block;
    margin-left: 35px;
}

/* My New Website */
main section h2 {
    margin-top: 70px;
    padding: 20px;
    text-align: center;
    font-size: 2em;
    background-color: burlywood;
}

/* coming soon image */
.photo {
    background-color: #a82f2f;
    padding: 10px;
    border: 15px solid #d65f5f;
    margin: 20px;
}

#coming-soon {
    display: block;
    margin: auto;
    width: 35%;
}

/* about portfolio */
.portfolio {
    display: block;
    padding: 20px;
    margin: auto;
    width: 50%;
}

section aside p {
    text-align: center;
}

/* contact me */
section h2 {
    display: block;
    text-align: center;
    margin: 0px, 20px, 20px, 20px;
    width: 100%;
    background-color: aquamarine;
}

section form {
    display: block;
    text-align: center;
    background-color: aquamarine;
}
.contact-me {
    display: block;
    padding: 15px;
    margin: auto;
    width: 100%;
    background-color: aquamarine;
    border-top: 10px solid #e1e437;
    border-bottom: 10px solid #e1e437;
}

.form {
    display: block;
    padding: 10px;
    margin: auto;
    width: 25%;
    background-color: aquamarine;
    border: 5px dotted blue;
}

/* footer */
footer {
    padding: 10px;
    text-align: center;
    background-color: plum;
}